@import url('https://fonts.googleapis.com/css?family=Abel');

html, body {
  font-family: Abel, Arial, Verdana, sans-serif;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
}

.card {
  width: 600px;
  height: 400px;
  background-color: #fff;
  background: linear-gradient(#f8f8f8, #fff);
  box-shadow: 0 8px 16px -8px rgba(0,0,0,0.4);
  border-radius: 6px;
  margin: 1.5rem;
  display: flex;
}

.card h1 {
  text-align: center;
}


.pokemon-card {
    background: linear-gradient(#dE685E, #EE786E);
    width: 200px;
    height: 100%;
    margin-right: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
} 

.points {
  color: #fff;
  text-transform: uppercase;
  font-size: 0.7em;
  font-weight: bold;
  background: rgba(0,0,0,0.15);
  border-radius: 100px;
  padding: 5px;
  text-align: center;
}

.more-info {
  width: 100%;
}

.more-info h1 {
  text-transform: capitalize;
}


.image {
  border: 5px solid white;
  border-radius: 50%;
  padding: 20px;
  text-align: center;
  box-shadow: 0 8px 16px -8px rgba(0,0,0,0.4);
}

.images-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.image-list {
  width: 50px;
  border: 2px solid white;
  cursor: pointer;
  box-shadow: 0 8px 16px -8px rgba(0,0,0,0.4);
  border-radius: 10px;

}

.image-list:first-of-type {
  margin-right: 5px;
}

.pokemon-info {
  display: flex;
}

.pokemon-info-left, .pokemon-info-right {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

.pokemon-info-left {
  margin-right: 30px;
}

.pokemon-info-right span {
  text-transform: capitalize;
}

.stats h3 {
  margin-bottom: 5px;
}
.pokemon-stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 30px;
}

.pokemon-stats span:first-of-type {
  text-transform: capitalize;
  margin-right: 20px;
}

.progress-light-grey, .progress-red, .progress-green {
  height: 5px;
  border-radius: 10px;
}
.progress-light-grey {
  background-color: #f1f1f1 !important;
  width: 200px;
}

.progress-red {
  background-color: #f44336 !important;
}

.progress-green { 
  background-color: #42855B !important;
}